@font-face {
    font-family: "Future";
    src: url("Fonts/FutureF.woff2") format("woff2"),
        /* Super Modern Browsers */ url("Fonts/FutureF.woff") format("woff"),
        /* Pretty Modern Browsers */ url("Fonts/FutureF.ttf") format("truetype"); /* Safari, Android, iOS */
}

@font-face {
    font-family: "Poppins";
    src: url("Fonts/Poppins-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
}

* {
    padding: 0;
    margin: 0;
    background-color: red;
    /* border: 1PX solid white; */
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    position: fixed;
}

#MainTitle {
    font-family: "Future";
    background: rgb(16, 231, 154);
    background: -moz-linear-gradient(
        90deg,
        rgba(16, 231, 154, 1) 0%,
        rgba(33, 215, 11, 1) 100%
    );
    background: -webkit-linear-gradient(
        90deg,
        rgba(16, 231, 154, 1) 0%,
        rgba(33, 215, 11, 1) 100%
    );
    background: linear-gradient(
        90deg,
        rgba(16, 231, 154, 1) 0%,
        rgba(33, 215, 11, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#10e79a",endColorstr="#21d70b",GradientType=1);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

#TitleBox {
    display: flex;
    background-color: rgb(10, 10, 15);
    border-bottom: 1px solid lime;
    border-right: 1px solid aqua;
    box-sizing: border-box;
    width: 20vw;
    height: 10vh;
    justify-content: center;
    align-items: center;
}

#ProfileImg {
    display: none;
    background-image: url("Imgs/defaultPfp.png");
    background-size: cover;
    background-color: transparent;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 0.5rem 0 0.5rem;
}

#TBHName {
    background-color: transparent;
    font-size: larger;
    font-weight: 600;
}

.LeftSideBar {
    display: flex;
    height: 100vh;
    width: 20vw;
    background-color: rgb(10, 10, 15);
    color: white;
    flex-direction: column;
}

.NamesBox {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    overflow-x: hidden;
    direction: rtl;
    height: 90vh;
    width: 20vw;
    background-color: rgb(10, 10, 15);
    color: white;
    border-right: 1px solid aqua;
}

.LSBGeneral{
    background-color: rgb(10, 10, 15);
    color: rgb(146, 146, 146);
    justify-content: center;
    text-align: center;
    padding: 30%;
}

.LSBContentItemBox{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: inherit;
}

.LSBContentItemBox:hover{
    background-color:rgb(146, 146, 146);
}

.LSBContentItem {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: inherit;
    padding: 0.5vh;
}

.LSBContent {
    color: white;
    background-color: rgb(27, 27, 31);
    width: 20vw;
    height: 5vh;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    display: flex;
    column-gap: 0.2rem;
    cursor: pointer;
}


.LSBContent:hover {
    background-color: rgb(70, 70, 80);
}

.nohover{
    background-color: rgb(70, 70, 80);
}

.nohover:hover{
    background-color: rgb(70, 70, 80);
}

.nohover2{
    background-color: rgb(60, 60, 70);
}

.nohover2:hover{
    background-color: rgb(60, 60, 70);
}

.MyMsg {
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 20px;
    background-color: lime;
    max-width: 40%;
    align-self: flex-end;
    animation: slideRtL 0.5s ease-out;
    word-break: break-all;
}

.OtherMsg {
    padding: 0.5rem 1rem;
    color: black;
    border-radius: 20px;
    background-color: rgb(0, 183, 255);
    max-width: 40%;
    align-self: first baseline;
    animation: slideLtR 0.5s ease-out;
}

.Main {
    display: flex;
}

.TextBox {
    display: flex;
    flex-direction: column;
    background-color: rgb(17, 17, 20);
    width: 80vw;
    height: 100vh;
    color: white;
    flex-wrap: wrap;
}

.TBHeader {
    box-sizing: border-box;
    width: 80vw;
    height: 10vh;
    background-color: rgb(20, 20, 26);
    align-items: center;
    display: flex;
    padding: 0.5rem;
    border-bottom: 0.1rem solid lime;
}

.MessageContainer {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 80vw;
    height: 80vh;
    background-color: rgb(1, 2, 10);
    padding: 1rem 1rem;
    font-size: 1rem;
    /* background-image: url("Wallpaper.png"); */
}

.Message {
    display: flex;
    background-color: rgb(21, 23, 29);
    width: 80vw;
    height: 10vh;
    padding: 1rem;
    font-size: 1rem;
    column-gap: 1rem;
    align-items: center;
    align-self: flex-end;
}

.MInput {
    background-color: rgb(40, 40, 40);
    border: 0.1rem solid lime;
    color: white;
    width: 65vw;
    height: 6vh;
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1rem;
}

.MInput:focus {
    outline: none;
}

.Plus {
    background-image: url("Imgs/plus.png");
    background-position: center;
    background-size: cover;
    height: 2rem;
    width: 2rem;
    background-color: inherit;
    transition: all 0.1s ease;
    cursor: pointer;
}
.Plus:hover {
    translate: 0rem -0.05rem;
    transition: all 0.1s ease;
}

.Emoji {
    background-image: url("Imgs/emoji.png");
    background-position: center;
    background-size: cover;
    height: 2rem;
    width: 2rem;
    background-color: inherit;
    transition: all 0.1s ease;
    cursor: pointer;
}
.Emoji:hover {
    background-image: url("Imgs/happy.png");
    translate: 0rem -0.05rem;
    transition: all 0.1s ease;
}

.Send {
    background-image: url("Imgs/send.png");
    background-position: center;
    background-size: cover;
    height: 2rem;
    width: 2rem;
    background-color: inherit;
    transition: all 0.1s ease;
    cursor: pointer;
}
.Send:hover {
    translate: 0.1rem -0.1rem;
    transition: all 0.1s ease;
}

#EmojiBox {
    background-color: gray;
    width: 20rem;
    position: relative;
    flex-wrap: wrap;
    max-height: 20rem;
    bottom: 21rem;
    right: 2rem;
    row-gap: 1rem;
    overflow: scroll;
    border-radius: 20px;
    column-gap: 1rem;
    padding: 1rem;
    scrollbar-width: none;
    display: none;
}

.Emoji h1 {
    background-color: gray;
}

.Emoji h1::selection {
    background-color: transparent;
}
@keyframes slideRtL {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideLtR {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}